<button class="m-5" mat-raised-button color="primary" (click)="loader.show()" [disabled]="loading$ | async">Show Loader</button>
<button class="m-5 float-end" mat-raised-button (click)="loader.hide()" [disabled]="!(loading$ | async)">Hide Loader</button>

<ng-container *ngIf="loading$ | async">
    <div class="overlay"></div>
    <mat-progress-spinner [mode]="'indeterminate'" color="warn"></mat-progress-spinner>
</ng-container>